Workers/File Worker.json
{
  "name": "File Worker",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        -240
      ],
      "id": "9ae93d4a-7d41-4564-90a4-657a77356b6f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sseEndpoint": "{{MCP_SSE_ENDPOINT_GOOGLE}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -176,
        -16
      ],
      "id": "02260d5d-0965-4fb3-a042-77a49c1b9506",
      "name": "MCP Google"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Si desea mover un archivo, usa el servicio de google drive\nla instruccion es la siguiente:\n{{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -448,
        -240
      ],
      "id": "894670bc-dd3b-40b3-9714-178678fe6b80",
      "name": "File Worker"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -464,
        -48
      ],
      "id": "e1ef40de-24d7-4d20-bc31-3bbc7d52f374",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "{{CRED_AZURE_OPENAI_ID}}",
          "name": "Azure Open AI account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "necesito crear un archivo"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "File Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Google": {
      "ai_tool": [
        [
          {
            "node": "File Worker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "File Worker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75da63a9-fbd4-4d9a-8a06-240d35c54f7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{N8N_INSTANCE_ID}}"
  },
  "id": "{{WF_FILE_WORKER}}",
  "tags": []
}